{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "importOrder": [
    "^react$",
    "^@testing-library/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false,
  "tailwindConfig": "./tailwind.config.js"
}
