{
  "semi": false,
  "tabWidth": 2,
  "singleQuote": true,
  "quoteProps": "consistent",
  "plugins": ["prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^@remix-run/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
