/* ensure that there is a semicolon at the end of the line otherwise the styles will not build correctly in production.  */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap&family=Patua+One:wght@100;400;700&display=swap');
@import "latofonts.css";

/* tailwind default */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* consistent focus styles on all components */
  * {
    @apply focus:outline-none;
    @apply focus-visible:ring-1;
    @apply focus-visible:ring-black;
  }

  html {
    @apply text-basic-gray;
  }

  body {
    @apply font-body;
  }

  .h6{
    @apply font-bold;
    @apply font-display;
    @apply text-xl;
  }

  .h5 {
    @apply font-display;
    @apply font-light;
    @apply text-2xl;
  }

  .h4 {
    @apply font-bold;
    @apply font-display;
  }

  .h3 {
    @apply font-light;
    @apply font-display;
    @apply text-2xl;
    @apply my-4;
  }

  .h2 {
    @apply font-medium;
    @apply font-display;
    @apply text-4xl;
    @apply mt-10;
    @apply mb-4;
  }

  .h1 {
    @apply font-bold;
    @apply font-display;
    @apply text-4xl;
    @apply mb-8;
    @apply text-aqua-default;
  }

  p {
    @apply mb-4;
  }

  main a {
    @apply text-link-default;
    @apply underline;
  }
  main a:visited {
    @apply text-link-visited;
  }
  main a:hover,
  main a:focus {
    @apply text-link-selected;
  }

  main a[target='_blank']::after {
    content: url(/assets/new-tab-icon.svg);
    display: inline-block;
    height: 1em;
    margin-left: 0.2em;
    width: 1em;
    text-align: center;
  }

  .page-nav-active {
    @apply bg-[#4ED8E8] bg-opacity-[12%] text-[#008490];
  }
}
